<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
</head>
<body>
    <% if(kindofDay==="Saturday" || kindofDay==="Sunday"){%>
        <h1 style="color:blue"> Its a <%=kindofDay%></h1>
   <% }
    else{%>
        <h1 style="color:red"> Its a <%=kindofDay%></h1>
   <% }%>

<ul>
   <% for(var i=0;i<newListItems.length;i++){%>
    <li><%=newListItems[i]%></li>
    <%}%>
</ul>
 <form class="list" action="/" method="post">
    <input type="text" name="newItem">
    <button type="submit" name="button">Add</button>
 </form>

</body>
</html>